* {
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  font-size: 100%;
}

#navbar {
  width: 100%;
  height: 80px;
  background-color: rgb(20, 20, 20);
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  z-index: 100;
}

#navbar .navbar__logo {
  display: flex;
  align-items: center;
}

#navbar img {
  width: 40px;
  padding: 15px;
}

#navbar h1 {
  font-size: 2rem;
  color: white;
  cursor: pointer;
  font-family: sans-serif;
}

#navbar ul {
}

#navbar li {
  text-transform: uppercase;
  display: inline-block;
  color: white;
  font-family: sans-serif;
  font-size: 1rem;
  margin: 0 15px;
  cursor: pointer;
}

#navbar a {
  color: white;
  text-decoration: none;
  padding: 11px;
}

#navbar li :hover {
  border: 1px solid white;
}

.menubar i {
  color: white;
  font-size: 3rem;
  line-height: 100px;
  z-index: 100;
  position: relative;
  display: none;
}

/* Banner*/

#banner {
  width: 100%;
  height: 90vh;
  background-color: rgb(20, 20, 20);
  display: flex;
  justify-content: start;
  align-items: center;
}

#banner div {
  position: relative;
  margin-left: 50px;
}

#banner h1 {
  color: white;
  font-size: 5rem;
  font-family: "Jura", sans-serif;
  text-transform: uppercase;
  margin-left: 30px;
  line-height: 8rem;
}

#banner button {
  width: 200px;
  height: 50px;
  border: none;
  outline: none;
  background-color: rgba(255, 255, 255, 0);
  color: white;
  cursor: pointer;
  margin-top: 40px;
  border: 1px solid rgb(255, 255, 255);
  transition: 0.3s linear;
  text-transform: uppercase;
  margin-left: 30px;
}

.banner div button:hover {
  background-color: white;
  color: rgb(36, 36, 36);
}

#portfolio {
  width: 100%;
  background-color: rgb(194, 194, 194);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 100px 0;
}

#portfolio h1 {
  color: rgb(36, 36, 36);
  font-size: 3rem;
  margin-bottom: 20px;
}

#portfolio p {
  color: rgb(36, 36, 36);
  width: 50%;
  max-width: 60%;
  font-size: 1.3rem;
  line-height: 1.8rem;
}

#gallery {
}
#gallery .grid {
  display: grid;
  grid-template-columns: auto auto;
}

#gallery img {
  width: 100%;
}

#about {
  width: 100%;
  background-color: rgb(194, 194, 194);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 100px 0;
}

#about h1 {
  color: rgb(36, 36, 36);
  font-size: 3rem;
  margin-bottom: 20px;
}

#about p {
  color: rgb(36, 36, 36);
  width: 50%;
  font-size: 1.3rem;
  line-height: 1.8rem;
}

#about button:hover {
  background-color: rgba(255, 255, 255, 0);
  color: white;
}

#footer {
  width: 100%;
  background-color: #198cf7;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px 0;
  flex-wrap: wrap;
}

#footer .contact_items {
  display: flex;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

#footer .contact {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: white;
  margin: 10px;
}

#footer .contact .contact_icons i {
  display: block;
  margin: 30px;
  font-size: 1.5rem;
}

#footer .contact .contact_text h1 {
  margin: 30px;
  font-size: 1.5rem;
}

#footer .contact_items h1 {
  width: 40%;
  font-size: 2.8rem;
  color: white;
  margin: 30px 0;
  text-align: center;
}

#footer .contact_items h4 {
  width: 70%;
  font-size: 1.5rem;
  color: white;
  margin: 30px;
  text-align: center;
  font-weight: lighter;
  line-height: 2rem;
}

#footer .contact_items ul {
  color: white;
  list-style: none;
}

#footer .contact_items ul li {
  display: inline-block;
  color: white;
  list-style: none;
  border: 2px solid white;
  margin: 20px;
  width: 50px;
  height: 50px;
  transition: 0.3s linear;
}

#footer .contact_items ul li:hover {
  background-color: white;
  color: #d24d57;
  border: 2px solid white;
  cursor: pointer;
}

#footer .contact_items ul li a {
  color: white;
}

#footer .contact_items ul li a:hover {
  color: #d24d57;
}

#footer .contact_items ul li i {
  font-size: 1.4rem;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#footer .subscribe {
  margin: 30px;
}

#footer .subscribe input {
  width: 300px;
  height: 40px;
  border: none;
  outline: none;
  background-color: rgb(255, 255, 255);
  color: rgb(36, 36, 36);
  padding-left: 10px;
}

#footer .subscribe button {
  width: 100px;
  height: 40px;
  border: none;
  outline: none;
  background-color: rgb(36, 36, 36);
  color: white;
  cursor: pointer;
}

@media screen and (max-width: 952px) {
  #navbar {
    height: 60px;
  }
  #navbar .navbar__logo {
    width: 30px;
    padding: 10px;
    margin-right: 250px;
  }
  #navbar img {
    width: 30px;
    padding: 10px;
  }
  #navbar h1 {
    font-size: 1.5rem;
  }
  .navbar__items {
    position: absolute;
    width: 100%;
    height: 0vh;
    background-color: rgb(20, 20, 20);
    z-index: 100;
    transition: 0.3s linear;
  }
  #navbar ul {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 50%;
    left: 25%;
    transform: translate(-50%);
    display: none;
    text-transform: uppercase;
    margin-top: 20px;
  }
  #navbar li {
    font-size: 1.3rem;
    margin-top: 60px;
  }
  .navbar__items li:hover {
    border: none;
  }
  .menubar i {
    color: white;
    font-size: 2rem;
    line-height: 100px;
    display: block;
  }
  #banner {
    width: 100%;
    height: 60vh;
  }
  #banner div {
    margin-left: 0px;
  }
  #banner h1 {
    font-size: 2.5rem;
    line-height: 4rem;
  }
  .about p {
    width: 95%;
    line-height: 1.8rem;
  }
  #gallery .grid {
    grid-template-columns: auto;
  }
  #footer .contact .contact_icons i {
    display: block;
    margin: 30px;
    font-size: 1.5rem;
  }
  #footer .contact .contact_text h1 {
    margin: 30px;
    font-size: 1rem;
  }
  #footer .contact_items h1 {
    width: 85%;
    font-size: 2rem;
  }
  #footer .contact_items ul li {
    margin: 20px;
    width: 40px;
    height: 40px;
  }
  #footer .contact_items ul li i {
    font-size: 1rem;
  }
  #footer .subscribe input {
    width: 200px;
  }
  #footer .subscribe button {
    width: 80px;
  }
}
